.container{
    width: 80%;
    margin: auto;
}

div.container {
    text-align: center;
  }

  
  ul.myUL {
    display: inline-block;
    text-align: left;
  }

h1 {
    font-family: "Caveat", cursive, sans-serif;
    font-size: 100px;
    font-weight: 400;
    color: rgb(0, 7, 7);
}

h1:hover{
    color: rgb(220, 130, 145);
}


ul li {
    list-style: none;  
    float: left;
    transition: 1s;
}

ul:hover li {
    transform: rotateY(360deg);
}


p{
    font-family: "Exo 2", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 48px;
}


body{
    background-color: rgb(0, 0, 0);
    margin: auto;
}

button{
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: "Exo 2", sans-serif;  
}


a{
    color: palevioletred;
    text-decoration: none;
}

a:hover{
    color: black;
}

.wrapper { 
    overflow: hidden; 
} 

.sliding-background { 
    background: url( 
"")  
    repeat-x; 
    height: 961px; 
    width: 6000px; 
    animation: slide 60s linear infinite; 
} 

@keyframes slide { 
    0% { 
        transform: translate3d(0, 0, 0); 
    } 

    100% { 
        transform: translate3d(-2000px, 0, 0); 
    } 
} 

